/* Estilos existentes para el nav */
nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Nuevos estilos para el layout */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Estilo para el footer fijo al fondo */
footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* Estilos para el contenedor de la tarjeta */
.card-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; 
  padding-bottom: 60px; 
}

/* Estilos para la tarjeta general */
.card {
  margin-top: 15px;
  width: 300px; 
  max-height: 700px; 
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  text-align: center;
  margin-bottom: 60px;
}

.card img {
  width: auto; 
  height: 200px;
  object-fit: cover; 
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px); 
}

/* Estilos para la tarjeta de detalle */
.detail {
  width: auto; /* Ocupa el ancho disponible del contenedor */
  max-width: auto; /* Tamaño máximo de la tarjeta */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.detail img {
  width: 20%; 
  height: auto;
  border-radius: 8px 8px 0 0; 
  display: block; 
  margin: 0 auto; 
}

.detail:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px); 
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
  padding: 1rem;
  background-color: #fff;
  flex-grow: 1;
}

.card-body h1 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-body p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-body h4 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.card-body button {
  background-color: #606060;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-body button:hover {
  background-color: #333;
}


/* Formulario */
form {
  max-width: 500px;
  margin: auto;
  padding: 55px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.cart-detail,.total {
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

.button {
  max-width: 40%;
  background-color: #606060;
  transition: background-color 0.3s ease-in-out;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  margin-bottom: 10px;
}

.btn{
  background-color: #606060;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover{
  background-color: #333;
}

.checkout {
  padding: 10px 20px;
  background-color: #606060;
  color: #fff;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.checkout:hover {
  background-color: #333;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

/* Estilos para el mensaje de error */
.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25em;
  display: block;
}

.emptycart {
  display: grid;
  place-items: center; 
  height: 80vh; 
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}



